node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*storybook.log
.storybook
.idea

# Config files
.gitattributes
.editorconfig
.hintrc
.npmrc
.prettierignore
.prettierrc
.vscode
.vscode/*.json
eslint.config.js
postcss.config.js
svelte.config.js
tailwind.config.ts
vite.config.ts


# DB
users.sqlite
backend
backend/pocketbase.exe
misc
misc/pb_schema.json
